<h1>Listing professors</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>Search professor by name:</td>
  </tr>
  <tr>
    <td><form action="search_professors" method="get">
        <input type="text" name="search_query" value="<%= @search_query %>"></input>
        <input type="checkbox" name="hide_professors" <% if @hide_professors.present? %>checked<% end %>></input>
        Hide professors with zero subjects
        <br>
        <input type="submit" value="Search"></input> 
      </form>
    </td>
  </tr>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>No. of subjects </th>
    <th>Edit</th>
    <th>Destroy</th>
    <th>Add a subject</th>
  </tr>
  <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.id %></td>
        <td class='name' title=''><%= professor.name %></td>
        <td><%= professor.count_of_subjects %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add a subject', new_professor_subject_path(professor) %>
        <td><%= link_to 'Show all subjects', professor_subjects_path(professor) %></td>
      </tr>
  <% end %>
</table>

<%= tag :br %>

<%= link_to 'New Professor', new_professor_path %> |
<%= link_to 'Add global subject', new_global_subject_path %>
