<h1>Listing professors</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>No. of subjects</th>
    <th>Edit</th>
    <th>Destroy</th>
    <th>Add a subject</th>
  </tr>
  <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.id %></td>
        <td class='name' title=''><%= professor.name %></td>
        <td><%= professor.subjects.count %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add a subject', new_professor_subject_path(professor) %>
        <td><%= link_to 'Show all subjects', professor_subjects_path(professor) %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Professor', new_professor_path %> |
<%= link_to 'New Global Subject', new_global_subject_path %>